# Environment variables / secrets
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

#config files
config.py

# Ignore local environment variables
.env

Data/mb_cache.json
Data/mb_search_cache.json